[Unit]
Description=xPaste Application

[Service]
Type=simple
User=root
WorkingDirectory=/opt/xpaste
Environment=SECRET_KEY_BASE={{ secret_key_base }}
Environment=RAILS_ENV=production
Environment=RAILS_LOG_TO_STDOUT=1
Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=5432
Environment=DB_NAME={{ db_name }}
Environment=DB_USER={{ db_user }}
Environment=DB_PASSWORD={{ db_password }}
ExecStart=/usr/local/rvm/rubies/ruby-2.5.1/bin/bundle exec puma -b unix:///var/run/puma.sock -e production config.ru

[Install]
WantedBy=multi-user.target
